<a href="https://colab.research.google.com/github/YaserMarey/my_openai_colab/blob/master/job_recommendation/job_recommendation_using_openai_text_embedding_ada_002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. Install

The dataset of job descriptions I collected from Linkedin. total number of job descriptions is 10. I will combine the title, qualifications and responsibilites into a single combined text. I will use openai text-embedding-ada-002 model to encode this combined text and it will output a single vector embedding.

In [ ]:
!export OPENAI_API_KEY='sk-PUT YOUR OPEN AI KEY'

To run this notebook, you will need to install: pandas, openai, transformers, plotly, matplotlib, scikit-learn, torch (transformer dep), torchvision, and scipy.

In [ ]:
!pip install pandas openai transformers plotly matplotlib scikit-learn torch torchvision scipy tiktoken

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: openai in /usr/local/lib/python3.8/dist-packages (0.27.0)
Requirement already satisfied: transformers in /usr/local/lib/python3.8/dist-packages (4.26.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (5.5.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (3.5.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (1.2.1)
Requirement already satisfied: torch in /usr/local/lib/python3.8/dist-packages (1.13.1+cu116)
Requirement already satisfied: torchvision in /usr/local/lib/python3.8/dist-packages (0.14.1+cu116)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (1.10.1)
Requirement already satisfied: tiktoken in /usr/local/lib/python3.8/dist-packages (0.3.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from openai) (4.64.1)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.8/dist-packages (from openai) (3.8.4)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.8/dist-packages (from openai) (2.28.2)
Requirement already satisfied: huggingface-hub<1.0,>=0.11.0 in /usr/local/lib/python3.8/dist-packages (from transformers) (0.12.1)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.8/dist-packages (from transformers) (2022.6.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from transformers) (23.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.8/dist-packages (from transformers) (6.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from transformers) (3.9.0)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.8/dist-packages (from transformers) (0.13.2)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from plotly) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly) (8.2.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (8.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (4.38.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.8/dist-packages (from torch) (4.5.0)
Requirement already satisfied: blobfile>=2 in /usr/local/lib/python3.8/dist-packages (from tiktoken) (2.0.1)
Requirement already satisfied: lxml~=4.9 in /usr/local/lib/python3.8/dist-packages (from blobfile>=2->tiktoken) (4.9.2)
Requirement already satisfied: pycryptodomex~=3.8 in /usr/local/lib/python3.8/dist-packages (from blobfile>=2->tiktoken) (3.17)
Requirement already satisfied: urllib3<3,>=1.25.3 in /usr/local/lib/python3.8/dist-packages (from blobfile>=2->tiktoken) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (2022.12.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (3.0.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (2.10)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (22.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (1.3.3)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (1.8.2)

### 2. Define embedding model and encoding

In [ ]:
# imports
import pandas as pd
import tiktoken
from openai.embeddings_utils import get_embedding, cosine_similarity

In [ ]:
# embedding model parameters
embedding_model = "text-embedding-ada-002"
embedding_encoding = "cl100k_base"  # this the encoding for text-embedding-ada-002
max_tokens = 8000  # the maximum for text-embedding-ada-002 is 8191

### 3. Define recommendation based on cosine similarity

In [ ]:
# search through the reviews for a specific product
def recommend_jobs(df, resume, n=3, pprint=True):
    resume_embedding = get_embedding(resume, engine=embedding_model)
    df["similarity"] = df.embedding.apply(lambda x: cosine_similarity(x, resume_embedding))

    results = (df.sort_values("similarity", ascending=False).head(n))
    return results

### 4. load & inspect dataset

In [ ]:
input_datapath = "/content/data/job_descriptions_10_linkedin.csv"  # to save space, we provide a pre-filtered dataset
df = pd.read_csv(input_datapath, encoding = "ISO-8859-1")
df

,Unnamed: 0,Title,Employer,Country,Remote/Onsite/Hybrid,About,Responsibilities,Requirements,What job offers,combined,n_tokens,embedding
0,0,Senior Data Scientist ML,Binance.US,"Dubai, Dubai, United Arab Emirates",Remote,"Launched in 2019, BAM Management US Holdings I...",Identify potential business opportunities with...,3+ years of experience in Data Science/Analyti...,NaN,"Senior Data Scientist ML;Dubai, Dubai, United ...",317,"[-0.02436540648341179, -0.03042932040989399, 0..."
1,1,AI Engineer,LiquidX Studio,United Arab Emirates,Remote,LiquidX Studio is a gaming development studio ...,Building challenging and fun AI that our playe...,"Thoughtful Problem Solving: For you, problem-s...",Great work environment\nAttractive salary & be...,AI Engineer;United Arab Emirates;Remote;Liquid...,297,"[0.007941177114844322, -0.010572289116680622, ..."
2,2,Data Analyst / Data Scientist,nybl,"Dubai, Dubai, United Arab Emirates",Remote,nybl is looking for our next generation of dat...,work closely with nybl to identify issues and ...,Experience and knowledge in statistical and da...,NaN,"Data Analyst / Data Scientist;Dubai, Dubai, Un...",575,"[-0.037207040935754776, -0.02034076116979122, ..."
3,3,Research Scientist,NEOM,"Tabuk, Saudi Arabia",Onsite,The NEOM project is being built from the groun...,Field and experimental work.\nData analysis\nI...,NaN,NaN,"Research Scientist;Tabuk, Saudi Arabia;Onsite;...",295,"[0.0018988176016137004, -0.021261312067508698,..."
4,4,\nData Scientist [NLP Expert; Artificial Intel...,Armaco Chemical Processes Systems Pvt Ltd,"Jiddah, Makkah, Saudi Arabia",Onsite,ramco occupies a unique position in the global...,Digital Transformation (DT) is responsible for...,As the successful candidate you will hold a Ma...,NaN,Data Scientist [NLP Expert; Artificial Intelli...,766,"[-0.024973710998892784, -0.01902099698781967, ..."
5,5,NLP Developer,Jobskey Search and Selection,"ubail, Eastern, Saudi Arabia",Hybrid,"As the successful candidate, you will hold deg...",Work with stakeholders throughout the organiza...,"Tokenization, classification and preprocessing...",NaN,"NLP Developer;ubail, Eastern, Saudi Arabia;Hyb...",663,"[-0.00904441624879837, -0.0057301949709653854,..."
6,6,Artificial Intelligence Researcher,AL MOZN AI,Riyadh Region,Onsite,AI Research Scientists have tasks of designing...,NaN,Minimum Qualifications\n\nPh.D. and publicatio...,NaN,Artificial Intelligence Researcher;Riyadh Regi...,429,"[-0.0011712032137438655, -0.001034254790283739..."
7,7,Machine Learning Engineer,IQVIA,"Riyadh, Riyadh, Saudi Arabia",Onsite,Position summary:\n\nML engineers typically wo...,Key Responsibilities:\nConsulting with manager...,Minimum 5+ experience in related field\nBachel...,NaN,"Machine Learning Engineer;Riyadh, Riyadh, Saud...",361,"[-0.02034110017120838, -0.009696582332253456, ..."
8,8,Computer Vision Engineer,Turing,Egypt,Remote,A US-based company pioneering data-driven virt...,"Design, develop, ship, and maintain web-based ...","BachelorÂs/MasterÂs degree in Engineering, C...",NaN,Computer Vision Engineer;Egypt;Remote;A US-bas...,268,"[-0.006810328457504511, -0.015718238428235054,..."
9,9,Software Engineering Manager,Careem,"Alexandria, Egypt",Onsite,At Careem we are led by a powerful purpose to ...,Lead a team of software engineers in implement...,You have strong software engineering skills wi...,n addition to a competitive long-term total co...,"Software Engineering Manager;Alexandria, Egypt...",666,"[0.023302186280488968, -0.013660808093845844, ..."

### 5. Calcualte embedding for job descriptions

In [ ]:
df = df[["Title", "Employer", "Country", "Remote/Onsite/Hybrid", "About", "Responsibilities", "Requirements", "What job offers"]]
df.fillna('', inplace=True)
df["combined"] = df["Title"].str.strip() + ";" + df["Country"].str.strip() + ";" + df["Remote/Onsite/Hybrid"].str.strip() + ";" + df["About"].str.strip()  + ";" + df["Responsibilities"].str.strip()  + ";" + df["Requirements"].str.strip()
df["combined"]

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
<ipython-input-173-dbf0e1ccf836>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["combined"] = df["Title"].str.strip() + ";" + df["Country"].str.strip() + ";" + df["Remote/Onsite/Hybrid"].str.strip() + ";" + df["About"].str.strip()  + ";" + df["Responsibilities"].str.strip()  + ";" + df["Requirements"].str.strip()

0    Senior Data Scientist ML;Dubai, Dubai, United ...
1    AI Engineer;United Arab Emirates;Remote;Liquid...
2    Data Analyst / Data Scientist;Dubai, Dubai, Un...
3    Research Scientist;Tabuk, Saudi Arabia;Onsite;...
4    Data Scientist [NLP Expert; Artificial Intelli...
5    NLP Developer;ubail, Eastern, Saudi Arabia;Hyb...
6    Artificial Intelligence Researcher;Riyadh Regi...
7    Machine Learning Engineer;Riyadh, Riyadh, Saud...
8    Computer Vision Engineer;Egypt;Remote;A US-bas...
9    Software Engineering Manager;Alexandria, Egypt...
Name: combined, dtype: object

In [ ]:
encoding = tiktoken.get_encoding("cl100k_base")
# should print [83, 1609, 5963, 374, 2294, 0]
encoding.encode("tiktoken is great!")

[83, 1609, 5963, 374, 2294, 0]

In [ ]:
# filter too long resumes to be encoded
df["n_tokens"] = df.combined.apply(lambda x: len(encoding.encode(str(x))))
df = df[df.n_tokens <= max_tokens]
df

<ipython-input-175-82fad59d4b63>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["n_tokens"] = df.combined.apply(lambda x: len(encoding.encode(str(x))))

,Title,Employer,Country,Remote/Onsite/Hybrid,About,Responsibilities,Requirements,What job offers,combined,n_tokens
0,Senior Data Scientist ML,Binance.US,"Dubai, Dubai, United Arab Emirates",Remote,"Launched in 2019, BAM Management US Holdings I...",Identify potential business opportunities with...,3+ years of experience in Data Science/Analyti...,,"Senior Data Scientist ML;Dubai, Dubai, United ...",318
1,AI Engineer,LiquidX Studio,United Arab Emirates,Remote,LiquidX Studio is a gaming development studio ...,Building challenging and fun AI that our playe...,"Thoughtful Problem Solving: For you, problem-s...",Great work environment\nAttractive salary & be...,AI Engineer;United Arab Emirates;Remote;Liquid...,299
2,Data Analyst / Data Scientist,nybl,"Dubai, Dubai, United Arab Emirates",Remote,nybl is looking for our next generation of dat...,work closely with nybl to identify issues and ...,Experience and knowledge in statistical and da...,,"Data Analyst / Data Scientist;Dubai, Dubai, Un...",575
3,Research Scientist,NEOM,"Tabuk, Saudi Arabia",Onsite,The NEOM project is being built from the groun...,Field and experimental work.\nData analysis\nI...,,,"Research Scientist;Tabuk, Saudi Arabia;Onsite;...",295
4,\nData Scientist [NLP Expert; Artificial Intel...,Armaco Chemical Processes Systems Pvt Ltd,"Jiddah, Makkah, Saudi Arabia",Onsite,ramco occupies a unique position in the global...,Digital Transformation (DT) is responsible for...,As the successful candidate you will hold a Ma...,,Data Scientist [NLP Expert; Artificial Intelli...,766
5,NLP Developer,Jobskey Search and Selection,"ubail, Eastern, Saudi Arabia",Hybrid,"As the successful candidate, you will hold deg...",Work with stakeholders throughout the organiza...,"Tokenization, classification and preprocessing...",,"NLP Developer;ubail, Eastern, Saudi Arabia;Hyb...",663
6,Artificial Intelligence Researcher,AL MOZN AI,Riyadh Region,Onsite,AI Research Scientists have tasks of designing...,,Minimum Qualifications\n\nPh.D. and publicatio...,,Artificial Intelligence Researcher;Riyadh Regi...,430
7,Machine Learning Engineer,IQVIA,"Riyadh, Riyadh, Saudi Arabia",Onsite,Position summary:\n\nML engineers typically wo...,Key Responsibilities:\nConsulting with manager...,Minimum 5+ experience in related field\nBachel...,,"Machine Learning Engineer;Riyadh, Riyadh, Saud...",361
8,Computer Vision Engineer,Turing,Egypt,Remote,A US-based company pioneering data-driven virt...,"Design, develop, ship, and maintain web-based ...","BachelorÂs/MasterÂs degree in Engineering, C...",,Computer Vision Engineer;Egypt;Remote;A US-bas...,270
9,Software Engineering Manager,Careem,"Alexandria, Egypt",Onsite,At Careem we are led by a powerful purpose to ...,Lead a team of software engineers in implement...,You have strong software engineering skills wi...,n addition to a competitive long-term total co...,"Software Engineering Manager;Alexandria, Egypt...",669

In [ ]:
# Ensure you have your API key set in your environment per the README: https://github.com/openai/openai-python#usage
# This may take a few minutes
df["embedding"] = df.combined.apply(lambda x: get_embedding(x, engine=embedding_model))
df.to_csv("data/job_descriptions_10_linkedin.csv")
df

,Title,Employer,Country,Remote/Onsite/Hybrid,About,Responsibilities,Requirements,What job offers,combined,n_tokens,embedding
0,Senior Data Scientist ML,Binance.US,"Dubai, Dubai, United Arab Emirates",Remote,"Launched in 2019, BAM Management US Holdings I...",Identify potential business opportunities with...,3+ years of experience in Data Science/Analyti...,,"Senior Data Scientist ML;Dubai, Dubai, United ...",318,"[-0.023338189348578453, -0.02993198111653328, ..."
1,AI Engineer,LiquidX Studio,United Arab Emirates,Remote,LiquidX Studio is a gaming development studio ...,Building challenging and fun AI that our playe...,"Thoughtful Problem Solving: For you, problem-s...",Great work environment\nAttractive salary & be...,AI Engineer;United Arab Emirates;Remote;Liquid...,299,"[0.008481680415570736, -0.011898957192897797, ..."
2,Data Analyst / Data Scientist,nybl,"Dubai, Dubai, United Arab Emirates",Remote,nybl is looking for our next generation of dat...,work closely with nybl to identify issues and ...,Experience and knowledge in statistical and da...,,"Data Analyst / Data Scientist;Dubai, Dubai, Un...",575,"[-0.037207040935754776, -0.02034076116979122, ..."
3,Research Scientist,NEOM,"Tabuk, Saudi Arabia",Onsite,The NEOM project is being built from the groun...,Field and experimental work.\nData analysis\nI...,,,"Research Scientist;Tabuk, Saudi Arabia;Onsite;...",295,"[0.0018988176016137004, -0.021261312067508698,..."
4,\nData Scientist [NLP Expert; Artificial Intel...,Armaco Chemical Processes Systems Pvt Ltd,"Jiddah, Makkah, Saudi Arabia",Onsite,ramco occupies a unique position in the global...,Digital Transformation (DT) is responsible for...,As the successful candidate you will hold a Ma...,,Data Scientist [NLP Expert; Artificial Intelli...,766,"[-0.024974431842565536, -0.018761955201625824,..."
5,NLP Developer,Jobskey Search and Selection,"ubail, Eastern, Saudi Arabia",Hybrid,"As the successful candidate, you will hold deg...",Work with stakeholders throughout the organiza...,"Tokenization, classification and preprocessing...",,"NLP Developer;ubail, Eastern, Saudi Arabia;Hyb...",663,"[-0.00904441624879837, -0.0057301949709653854,..."
6,Artificial Intelligence Researcher,AL MOZN AI,Riyadh Region,Onsite,AI Research Scientists have tasks of designing...,,Minimum Qualifications\n\nPh.D. and publicatio...,,Artificial Intelligence Researcher;Riyadh Regi...,430,"[-0.0008614232065156102, -0.000480020069517195..."
7,Machine Learning Engineer,IQVIA,"Riyadh, Riyadh, Saudi Arabia",Onsite,Position summary:\n\nML engineers typically wo...,Key Responsibilities:\nConsulting with manager...,Minimum 5+ experience in related field\nBachel...,,"Machine Learning Engineer;Riyadh, Riyadh, Saud...",361,"[-0.02034110017120838, -0.009696582332253456, ..."
8,Computer Vision Engineer,Turing,Egypt,Remote,A US-based company pioneering data-driven virt...,"Design, develop, ship, and maintain web-based ...","BachelorÂs/MasterÂs degree in Engineering, C...",,Computer Vision Engineer;Egypt;Remote;A US-bas...,270,"[-0.006575488485395908, -0.01827809028327465, ..."
9,Software Engineering Manager,Careem,"Alexandria, Egypt",Onsite,At Careem we are led by a powerful purpose to ...,Lead a team of software engineers in implement...,You have strong software engineering skills wi...,n addition to a competitive long-term total co...,"Software Engineering Manager;Alexandria, Egypt...",669,"[0.022755378857254982, -0.014074817299842834, ..."

In [ ]:
import numpy as np
df["embedding"] = df.embedding.apply(np.array)
df

,Title,Employer,Country,Remote/Onsite/Hybrid,About,Responsibilities,Requirements,What job offers,combined,n_tokens,embedding
0,Senior Data Scientist ML,Binance.US,"Dubai, Dubai, United Arab Emirates",Remote,"Launched in 2019, BAM Management US Holdings I...",Identify potential business opportunities with...,3+ years of experience in Data Science/Analyti...,,"Senior Data Scientist ML;Dubai, Dubai, United ...",318,"[-0.023338189348578453, -0.02993198111653328, ..."
1,AI Engineer,LiquidX Studio,United Arab Emirates,Remote,LiquidX Studio is a gaming development studio ...,Building challenging and fun AI that our playe...,"Thoughtful Problem Solving: For you, problem-s...",Great work environment\nAttractive salary & be...,AI Engineer;United Arab Emirates;Remote;Liquid...,299,"[0.008481680415570736, -0.011898957192897797, ..."
2,Data Analyst / Data Scientist,nybl,"Dubai, Dubai, United Arab Emirates",Remote,nybl is looking for our next generation of dat...,work closely with nybl to identify issues and ...,Experience and knowledge in statistical and da...,,"Data Analyst / Data Scientist;Dubai, Dubai, Un...",575,"[-0.037207040935754776, -0.02034076116979122, ..."
3,Research Scientist,NEOM,"Tabuk, Saudi Arabia",Onsite,The NEOM project is being built from the groun...,Field and experimental work.\nData analysis\nI...,,,"Research Scientist;Tabuk, Saudi Arabia;Onsite;...",295,"[0.0018988176016137004, -0.021261312067508698,..."
4,\nData Scientist [NLP Expert; Artificial Intel...,Armaco Chemical Processes Systems Pvt Ltd,"Jiddah, Makkah, Saudi Arabia",Onsite,ramco occupies a unique position in the global...,Digital Transformation (DT) is responsible for...,As the successful candidate you will hold a Ma...,,Data Scientist [NLP Expert; Artificial Intelli...,766,"[-0.024974431842565536, -0.018761955201625824,..."
5,NLP Developer,Jobskey Search and Selection,"ubail, Eastern, Saudi Arabia",Hybrid,"As the successful candidate, you will hold deg...",Work with stakeholders throughout the organiza...,"Tokenization, classification and preprocessing...",,"NLP Developer;ubail, Eastern, Saudi Arabia;Hyb...",663,"[-0.00904441624879837, -0.0057301949709653854,..."
6,Artificial Intelligence Researcher,AL MOZN AI,Riyadh Region,Onsite,AI Research Scientists have tasks of designing...,,Minimum Qualifications\n\nPh.D. and publicatio...,,Artificial Intelligence Researcher;Riyadh Regi...,430,"[-0.0008614232065156102, -0.000480020069517195..."
7,Machine Learning Engineer,IQVIA,"Riyadh, Riyadh, Saudi Arabia",Onsite,Position summary:\n\nML engineers typically wo...,Key Responsibilities:\nConsulting with manager...,Minimum 5+ experience in related field\nBachel...,,"Machine Learning Engineer;Riyadh, Riyadh, Saud...",361,"[-0.02034110017120838, -0.009696582332253456, ..."
8,Computer Vision Engineer,Turing,Egypt,Remote,A US-based company pioneering data-driven virt...,"Design, develop, ship, and maintain web-based ...","BachelorÂs/MasterÂs degree in Engineering, C...",,Computer Vision Engineer;Egypt;Remote;A US-bas...,270,"[-0.006575488485395908, -0.01827809028327465, ..."
9,Software Engineering Manager,Careem,"Alexandria, Egypt",Onsite,At Careem we are led by a powerful purpose to ...,Lead a team of software engineers in implement...,You have strong software engineering skills wi...,n addition to a competitive long-term total co...,"Software Engineering Manager;Alexandria, Egypt...",669,"[0.022755378857254982, -0.014074817299842834, ..."

In [ ]:
file = open('data/resume.txt', 'r', encoding = "ISO-8859-1" )
resume_contents = file.read()
file.close()
resume_contents

"Yaser Mohye Marey\nMSc. in Computer Science - Machine Learning\nhttps://yasermarey.github.io/ https://www.kaggle.com/yasermarey\n https://github.com/YaserMarey, https://medium.com/@yasser.maree\nyasser_maree@hotmail.com\n+201017332998\n\nProfile\nVeteran software engineer with extensive hands-on experience in software systems envisioning and development. Master's in Computer Science from Georgia Institute of Technology specializing in Machine Learning. Crafted my first Neural Network in 1996 and have updated knowledge in Deep Learning, DNN, CNN, and RNN applied to Computer Vision and NLP problems. I have solid hands-on experience in JavaScript, Python, R, and C#.\nEducation\nMaster of Science in Computer Science with a focus on Machine Learning \nGeorgia Institute of Technology, GPA 3.58, 2020, Atlanta, USA\n\nSome of the Master\x92s coursework included:\n* For Computer Vision: 1) Detecting traffic signals and lights using Hough Transform. 2) Motion Detection using Pyramidal Lucas and Kanade method. 3) Object tracking using the Kalman filter.\n* For Data Visualization and Analytics: Explore and preprocess the IMDb movies dataset, to predict the relationship between movie descriptors and box office success using R.\n* For Reinforcement Learning: 1) Replicating Richard Sutton\x92s 1988 paper \x93Learning to predict by the methods of temporal differences\x94. 2) Writing an agent to successfully land Lunar Lander implemented in OpenAI Gym\n* For Machine Learning: 1) Applying 5 different classification algorithms to two interestingly different datasets and interpreting results. 2) Applying 3 different randomized optimization algorithms to find weights for a NN and compare results.\n* For AI for Robotics: 1) Track moving asteroids, estimate their future locations, and pilot a craft around them to the goal location.2) Design a planner to help the robot find the best path through a warehouse filled with boxes that it must pick to a drop zone.\n\nDiploma in Software Development Skills\nInformation Technology Institute (ITI), 1998 - 1999, Intake SSDP11, Cairo, Egypt.\n \nBachelor\x92s degree in Computer Science and Engineering,\nFaculty of Electronics Engineering, Al Menoufiya University, 1996, Egypt.\n\nCareer Highlights\n* In the late 1990s: started as a software engineer using Microsoft .NET tools in the well-known Egyptian software house ITWorx. I was one of the core team of http://www.otlob.com, the first food online ordering platform in Egypt. I used MS.NET as early as its beta version to build intranet applications for customers from Fortune 500 largest companies in the USA and Europe. \n* I left Egypt for Saudi Arabia to work as a Senior Software Engineer, and later as a Business Process Automation and Rich Internet Application Consultant.\n* I worked for Adobe Systems for one year as a Sr. Systems Analyst leading a team of five consultants for a project for Dubai eGovernment. \n* In 2014, I came back to Egypt to join Dirac Systems as a Software Development Manager. \n* In early 2017 I joined STCS to participate in establishing STCS Egypt which is an expansion of \x91Solutions by STC\x92 a subsidiary of STC, Saudi Telecom Company\n* Progressing over the years to come now to be the software development manager of a reputable and established Communication Systems supplier with contracts with many government agencies and ministries in Egypt.\n\nMachine Learning/Data Science Projects\nAI4Support.com: A Question-Answering Platform\nAn NLP Question-Answering system targeting Technical Engineers who need assistance through access to specialized knowledge sources such as manuals or technical guides. In AI4Support, a subscriber would upload different types of manuals documents and then the system would train on these documents to be able to answer questions on the content of these documents later. In AI4Support we used RASA as a chatbot engine for Intent Classification and Entity Extraction. AI4Support is built around Microservices Architecture and includes .NET core/Angular and Python-based services. It also incrementally learns from interactions with the users. Our \x93Correctness\x94 metric, measured through applying a carefully designed Test Data Set, shows that AI4Support achieves 90%+ correctness compared to 70% for DialogFlow Question-Answering Service and 65% for MS Azure QnA. \n\nShofle.com: A Classifier for Cars\x92 Ads on the Internet published in the Arabic Language \nAn application of NLP on Knowledge Extraction Problem. In Shofle we are applying an ensemble of learners to categorize cars ads collected from 4 major websites after data cleansing and preprocessing. The online cars ads lack a unified structure. Shofle extracts information from ad textual body descriptions in addition to other ad attributes and molds output into a unified ad structure. The challenge also was to build a model that can adapt to local terminologies, missing data, and imbalanced data classes. Shofle is built on MEAN stack (MongoDB, ExpressJS, AngularJS, and Node). The solution is deployed to an AWS EC2. Part of the source code of Shofle is open on the GitHub repo\n\nShelfC: An Image Detection Application applied to Coolers Images for Planogram Compliance \nShelfC relies on a Yolov5 deep learning algorithm that, preprocesses, detects, and classifies items on shelves from shelf images collected through a mobile application and analyzes shelf KPIs of planogram compliance, purity, and shelf space.\nTwo analytical modules are at play simultaneously, one classifies the item, and the other one identifies the location of the item on the shelf.\n\n\nVolunteer Work\nSince 2013 I am a member of the translation team of Scrum and Nexus Guides from Scrum Alliance and Scrum.org responsible for the translation to the Arabic language.\nhttps://scrumguides.org/docs/scrumguide/v2020/2020-Scrum-Guide-Arabic.pdf https://www.scrum.org/resources/nexus-guide\n\nCareer History\n2021 \x96 Present \nSoftware Development Manager\n-\nCairo, Egypt\n2018 \x96 2021 \nTechnical Manager\nSolutions by STC\x96 Egypt\nCairo, Egypt\n2014 \x96 2018\nSoftware Development Manager\nDIRAC Systems\nCairo, Egypt\n2011 \x96 2013\nProjects Manager\nNational DataServe &\nTurnkey Solutions\nRiyadh, KSA\n2009 \x96 2011\nSr. Tech Consultant, BPM, and Rich Internet Applications\nAdvanced Systems and Tech.\nDammam, KSA\n2008 \x962009\nSr. System Analyst\nAdobe Systems\nDubai, UAE\nBefore 2008\nSoftware Engineer and Sr. Software Engineer\nITWorx\nCairo, Egypt\n\n\n\nTraining\n2020 \nNLP Specialization (4 Courses) \nDeeplearning.ai through Coursera \n2020 \nAI in Medicine Specialization (2 Courses) \nDeeplearning.ai through Coursera \n2020 \nTensorFlow Dev. Specialization (4 Courses) \nDeeplearning.ai through Coursera \n2020 \nDeep Learning Specialization (4 Courses) \nDeeplearning.ai through Coursera \n2019\nDeep Learning Specialization\nCoursera, Online Learning\n2013\nScrum Master Training\nSmitsMC, Cairo, Egypt\n2010\nSoftware Architecture Principles and Practices\nSEI, Carnegie Mellon (eLearning)\n2006\nPost Graduate Course in Software Engineering \nKFUPM, Dhahran, Saudi Arabia \n\n\nSkills Summary\nProgramming/Web, Tools, and Methodologies\nMachine Learning/Data Science\nC/C++, C#, ASP.NET Core, ASP.NET WebAPI,  REST/Web Services, JavaScript/Angular, Python, FastAPI, MEAN Stack, System Analysis, UML2.0, OOAD, Design Patterns, CI/CD, TDD/BDD, Docker, Git, Jira, Software Architecture, Scrum/Agile, Technical Writing \nPandas, Numpy, TensorFlow, scikit-learn, OpenCV, NLP/NLTK, R, Python, Octave/MATLAB, DNN/CNN, Computer Vision, Sequence Models, Data Exploration / Preparation, Data Visualization, Algorithms, Statistics, and Probability. \n\n\nReferences\nDr. Ahmed Abdulshafi, CTO of Systematic Consulting, Riyadh, KSA Tel. No.: +966502743019\nMr. Amr Lotfy, Shared Services Manager, STCS, Cairo, Egypt, Tel. No.: +201120885628\nMr. Khaled Ahmed, Senior Technical Writer, STCS, Cairo, Egypt, Tel. No.: +201226066469\n\n\n\n\n"

In [ ]:
results = recommend_jobs(df, resume_contents, n=10)

In [ ]:
display(results[['Title', 'About','Responsibilities','Requirements','similarity']])

,Title,About,Responsibilities,Requirements,similarity
5,NLP Developer,"As the successful candidate, you will hold deg...",Work with stakeholders throughout the organiza...,"Tokenization, classification and preprocessing...",0.831803
6,Artificial Intelligence Researcher,AI Research Scientists have tasks of designing...,,Minimum Qualifications\n\nPh.D. and publicatio...,0.821803
7,Machine Learning Engineer,Position summary:\n\nML engineers typically wo...,Key Responsibilities:\nConsulting with manager...,Minimum 5+ experience in related field\nBachel...,0.817558
2,Data Analyst / Data Scientist,nybl is looking for our next generation of dat...,work closely with nybl to identify issues and ...,Experience and knowledge in statistical and da...,0.811574
4,\nData Scientist [NLP Expert; Artificial Intel...,ramco occupies a unique position in the global...,Digital Transformation (DT) is responsible for...,As the successful candidate you will hold a Ma...,0.810253
8,Computer Vision Engineer,A US-based company pioneering data-driven virt...,"Design, develop, ship, and maintain web-based ...","BachelorÂs/MasterÂs degree in Engineering, C...",0.808425
9,Software Engineering Manager,At Careem we are led by a powerful purpose to ...,Lead a team of software engineers in implement...,You have strong software engineering skills wi...,0.800007
3,Research Scientist,The NEOM project is being built from the groun...,Field and experimental work.\nData analysis\nI...,,0.786109
0,Senior Data Scientist ML,"Launched in 2019, BAM Management US Holdings I...",Identify potential business opportunities with...,3+ years of experience in Data Science/Analyti...,0.775974
1,AI Engineer,LiquidX Studio is a gaming development studio ...,Building challenging and fun AI that our playe...,"Thoughtful Problem Solving: For you, problem-s...",0.765223